#mon_jumbo{
    background-image: url("images/atelier1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: -2px;

}
#Titre {
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    font-family: 'roboto'!important;
}

#paragraphe1{
    text-align: center;
    color: aliceblue;
    font-weight: 500;
    font-family: verdana;
    text-shadow: 2px 2px 2px black;
    }
    
.social-card-header{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    
    
}
#paragraphe1{
    text-align: center;
    color: aliceblue;
    font-weight: 500;
    font-family: verdana;
    text-shadow: 2px 2px 2px black;
    }

.social-card-header i {
    font-size: 32px;
    color:#FFF;
}

.bg-pinterest {
    background-color:#bd081c;
}

.share:hover {
        text-decoration: none;
    opacity: 0.8;
}
.container {
    position: float-left;
  
}

.card-text {
    font-family: verdana;
  
}

.card-titre{
    font-family: 'Roboto', sans-serif !important;
  
}

    
.glyphicon 
{
    color:#d05c62;
}

.dropdown-menu{
    color:#f3671f !important;
    font-family: verdana;

}