body{
    /* Safari 4-5, Chrome 1-9 */
      background: -webkit-radial-gradient(radial, center center, 0, center center, 460, from(#d05c62, #f3671f));
  
    /* Safari 5.1+, Chrome 10+ */
      background: -webkit-radial-gradient(circle, #d05c62, #f3671f);
  
    /* Firefox 3.6+ */
      background: -moz-radial-gradient(circle,#d05c62, #f3671f);
  
    /* IE 10 */
      background: -ms-radial-gradient(circle,#d05c62, #f3671f);
      height:600px;
  }
  
  .centered-form{
      margin-top: 60px;
  }
  
  .centered-form .panel{
      background: rgba(255, 255, 255, 0.8);
      box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
  }
  
  label.label-floatlabel {
      font-weight: bold;
      color: #46b8da;
      font-size: 11px;
  }